<div class="adminlogs">
  <% if current_company.nil? && current_tailor.nil? && current_user.nil? %>
    <div class="taiLog">
      <%= link_to 'tailor', new_session_tailor_path%>
    </div>
    <div id="comLog">
      <%= link_to 'company', new_company_path%>
    </div>
  <% end %>
</div>
