
<div class="layer"></div>
<div id="loginBackgroundc"></div>
<div class="context">
  <span id="loginTitle"><h1>Company</h1></span>
  <%=form_tag sessions_login_company_path do %>
    <%= render 'login' %>
    <!-- <div class="signUpLinks"> -->
      <!-- <% link_to 'sign Up', new_companies_path%> -->
    <!-- </div> -->
  <% end %>
</div>
<%= render 'links' %>
