
<div class="layerT"></div>
<div id="loginBackgroundt"></div>
<div class="context">

<span id="loginTitle"><h1>Tailor</h1></span>
<%=form_tag sessions_login_tailor_path do %>
<%= render 'login' %>
<% end %>
</div>
<%= render 'links' %>
