<h1>Tailor Edit Page</h1>


<h1>Edit The Tailor</h1>
<%= image_tag @tailor.image_url(:thumb).to_s %>
<%= render 'form' %>

<!-- Logic to ensure correct back button for correct account -->
<% if current_company != nil %>
  <%= link_to 'Back', companies_path %>
<% else %>
  <%= link_to 'Back', tailors_dashboard_path %>
<% end %>
