<h1>Tailor Edit Page</h1>

<%= render 'form' %>

<!-- Logic to ensure correct back button for correct account -->
<% if current_company != nil %>
  <%= link_to 'Back', companies_path %>
<% else %>
  <%= link_to 'Back', current_tailor %>
<% end %>
