<div class= "NewuSerImgback">
<p class="Hello">Add Article</p>
</div>
<div class = "NEwuserfromA">

<%= render 'form' %>
</div>
<div class="canceled">
  <%= link_to content_tag(:i, nil, :class => "fa fa-chevron-left fa-3x"), dashboard_path %>
</div>
