<h3>Edit Your Dashboard</h3>
<%= image_tag @user.image_url(:thumb).to_s %>
<%= render 'form' %>
<div class="canceled">
  <%= link_to content_tag(:i, nil, :class => "fa fa-chevron-left fa-3x"), dashboard_path %>
</div>
