<h1>Company Show Page</h1>

<h3>Company:</h3>
<%= @company.name %>

<hr>
<h2>Tailors</h2>
<ul>
  <% @company.tailors.each do |tailor| %>
    <li> <%= link_to tailor.first_name, tailor %></li>
<% end %>
</ul>

<h3>New Tailor</h3>

<%= link_to 'New Tailors', new_tailor_path %>
