body{
  background-color: black;
}

#loginBackground{
  background: url("/assets/tairloupbackgroundimg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 height: 100%;
 width: 100%;
 margin-top: 0;
 position: absolute;
 z-index: -10;
 background-repeat: no-repeat;
}
/* Login for Company*/
#loginBackgroundc{
  background: url("/assets/caveat.png") no-repeat center center fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
 width: 100%;
 margin-top: 0;
 position: absolute;
 z-index: -10;
 background-repeat: no-repeat;
}
/*Login for Tailor*/
#loginBackgroundt{
  /*background: url("/assets/bg03.png") no-repeat center center fixed;*/
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
 width: 100%;
 margin-top: 0;
 position: absolute;
 z-index: -10;
 background-repeat: no-repeat;
}
