#loginBackground{
  background: url("http://i296.photobucket.com/albums/mm195/Zlerp/Screen%20Shot%202015-08-08%20at%205.08.40%20PM_zpsxrkm8uah.png") no-repeat center center fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 height: 100%;
 width: 100%;
 margin-top: 0;
 position: absolute;
 z-index: -10;
 background-repeat: no-repeat;
}
/* Login for Company*/
#loginBackgroundc{
  background: url("http://i296.photobucket.com/albums/mm195/Zlerp/Screen%20Shot%202015-08-09%20at%205.13.14%20AM_zpslajhgtoo.png") no-repeat center center fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
 width: 100%;
 margin-top: 0;
 position: absolute;
 z-index: -10;
 background-repeat: no-repeat;
}
/*Login for Tailor*/
#loginBackgroundt{
  background: url("http://www.theqg.com/media/hdr-tailor-sewing2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
 width: 100%;
 margin-top: 0;
 position: absolute;
 z-index: -10;
 background-repeat: no-repeat;
}
