
@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,300,100,700,900);
@import url(https://fonts.googleapis.com/css?family=Lobster|Pacifico|Fredoka+One);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,800,500,600);
/*font-family: 'Lato', sans-serif;   --- Main  ---
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
font-family: 'Raleway', sans-serif;
*/

.aptInfo a{
  color: black;
}

.homeButton a{
  color: white;
  height: 40px;
  width: 100px;
  position: fixed;
  top: 0;
  left: 10px;
  text-align: left;
  margin-top: 12px;
  z-index: 1000;
  opacity: .6;
  text-shadow: -1px 2px 2px black;
}
.homeButton i:hover{
  opacity: .8;
  text-shadow: -2px 3px 4px black;

}

.canceled{
  position: fixed;
  bottom: 0;
  text-align: left;
  height: 50px;
  opacity: .7;
}

.canceled i{
font-weight: 100;
color: #A950A9;

}

input{
  outline: none;
}

.userLog{
  margin-top: 25px;
}
.userLog a{
  word-spacing: 10px;
  margin-right: 2vh;
  z-index: 200;
  color: white;
  opacity: .6;
  z-index: 99;
  text-shadow: -1px 1px 4px black;
}
.userLog a:hover{
  opacity: .8;
}

input {
  background: none;
}
  .userLog{
    z-index: 50;
    position: fixed;
    width: 100%;
    text-align: right;
    padding-right: 10px
  }
  .loginFields p{
    text-align: center;
  }
  #submitLogin{
    border : solid 2px #ffffff;
    -webkit-box-shadow : inset 0px 0px 4px rgba(0,0,0,0.7);
    -moz-box-shadow : inset 0px 0px 4px rgba(0,0,0,0.7);
    box-shadow : inset 0px 0px 4px rgba(0,0,0,0.7);
    font-size : 20px;
    color : #ffffff;
    padding : 5px 15px;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    -webkit-appearance: none;
    opacity: .6;
    border-radius: 5px;
    margin-top: 15px;
  }
  #submitLogin:hover{
    opacity: .9;

  }
  #submitLogin input {
    appearance: none;
    background:none;
    border:none;
    font-size:.7em;
    font-family: 'Lato', sans-serif;
    outline:none;
  }


body{
  color: grey;
  text-align: center;
}
.layer{
 background-color: black;
 z-index: -8;
 height: 100%;
 width: 100%;
 position: absolute;
 opacity: .2;

}

.layerT{
 background-color: black;
 z-index: -8;
 height: 100%;
 width: 100%;
 position: absolute;
 opacity: .05;

}

#loginTitle h1{
  font-family: 'Lobster', cursive;
  /*font-family: 'Pacifico', cursive;*/
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 40px;
  letter-spacing: 1.5vw;
  text-shadow: -2px 3px 15px black;
}

#notice{
  text-align: center;
  width: 100%;
  /*position: absolute;*/
  margin-top: 1vh;
  float: right;
  color: white;
  opacity: .3;
  font-size: .8em;
  z-index: 1000;
}

@media screen and (max-width: 1800px){

  .tDashBack{
    background: url("http://i.imgur.com/hECsn.png") no-repeat center center fixed;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   height: 100%;
   width: 100%;
   margin-top: 0;
   position: absolute;
   z-index: -10;
   background-repeat: no-repeat;
  }
  /*login for user*/
  input.optional{
    text-align: center;
  }

  #email{
    text-align: center;
    width: 400px;
    font-size: 1em;
  }
  #password{
    text-align: center;
    width: 400px;
  }


  #signupLinkHeader{
    opacity: .6;
  }
  .context{

    padding-top: 100px;
    opacity: .7;
    color: white;
    text-align: center;
    top: 0;
    z-index: 10;
  }

  .forgotPass{
    padding-top: 15px;
    height: 40px;
  }
}

.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.taiLog{
  position: absolute;
  top: 95vh;
  z-index: 5;
  left: 4vw;
}
.taiLog a{
  color: white;
  text-decoration: none;
  opacity: .4;
  font-size: .8em;
}
.taiLog a:hover{
  color: white;
  text-decoration: none;
  opacity: .7;
}
#comLog{
  text-align: right;
  position: absolute;
  top: 95vh;
  width: 100%;
  padding-right: 4vw;
}

#comLog a{
  color: white;
  text-decoration: none;
  opacity: .4;
  font-size: .8em;
}
#comLog a:hover{
  color: white;
  text-decoration: none;
  opacity: .7;
}

.signUpLinks{
  margin-top: 30px;
}
