
@import url(http://fonts.googleapis.com/css?family=Lato:400,900italic,300,100,700,900);
/*font-family: 'Lato', sans-serif;*/

body{
  color: white;
}


@media screen and (max-width: 1800px){
  /*.context{
    padding-top: 100px;
    opacity: .7;
    color: white;
    text-align: center;
    width: 500px;
    float: left;
    position: absolute;
    top:5vw;
    left: 40%;
    z-index: 10;
  }*/

  #loginBackground{
    background: url("http://i296.photobucket.com/albums/mm195/Zlerp/Screen%20Shot%202015-08-08%20at%205.08.40%20PM_zpsxrkm8uah.png") no-repeat center center fixed;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
    height: 100%;
    /*position: absolute;*/
    z-index: -5;
    /*width: 100%;;
    background: cover;
    background-repeat: no-repeat;*/
  }

  #signupLinkHeader{
    opacity: .6;
  }
  .context{

    padding-top: 100px;
    opacity: .6;
    color: white;
    text-align: center;
    top:0;
  }
}


@media screen and (max-width: 500px){

  #loginBackground{
    background: url("http://i296.photobucket.com/albums/mm195/Zlerp/Screen%20Shot%202015-08-08%20at%205.08.40%20PM_zpsxrkm8uah.png");
    height: 100%;
    width: 900px;
    margin-top: 0;
    position: absolute;
    left: -400px;
    z-index: -5;
    background-repeat: no-repeat;

  }

  #email{
    text-align: center;
    width: 300px;
    margin-left: 10vw;
  }
  #password{
    text-align: center;
    width: 300px;
    margin-left: 10vw;
  }

    #submitLogin{
      border : solid 2px #ffffff;
    	-webkit-box-shadow : inset 0px 0px 4px rgba(0,0,0,0.7);
    	-moz-box-shadow : inset 0px 0px 4px rgba(0,0,0,0.7);
    	box-shadow : inset 0px 0px 4px rgba(0,0,0,0.7);
    	font-size : 20px;
    	color : #ffffff;
    	padding : 5px 15px;
      text-align: center;
      width: 120px;
      margin: 0 auto;
      -webkit-appearance: none;
      opacity: .6;
      border-radius: 5px;
    }

    #submitLogin:hover{
      font-weight: bold;
      /*border-radius: 150px;*/
      opacity: .8;

    }
    #submitLogin input {
      appearance: none;
      background:none;
      border:none;
      font-size:.7em;
      font-family: 'Lato', sans-serif;
    }

    .signupLinks a {
      text-align: center;
      color: white;
      opacity: .6;
      text-decoration: none;
      font-size: .8em;
      margin-left: 40px;
      margin-top: 10px;
    }
    .signupLinks a:hover{
      opacity: .8;
    }
    .signupLinks {
      margin-top: 20px;
      margin-left: 25%;
      text-align: center;
      width: 150px
    }



}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.taiLog{
  position: absolute;
  top: 95vh;
  left: 4vw;
}
.taiLog a{
  color: white;
  text-decoration: none;
  opacity: .4;
  font-size: .8em;
}
.taiLog a:hover{
  color: white;
  text-decoration: none;
  opacity: .7;
}
#comLog{
  position: absolute;
  top: 95vh;
  left: 82vw;
}

#comLog a{
  color: white;
  text-decoration: none;
  opacity: .4;
  font-size: .8em;
}
#comLog a:hover{
  color: white;
  text-decoration: none;
  opacity: .7;
}


  }

  #loginFields{
  text-align: center;
  }
  #singupLinkHeader{

  }
}
