
/*font-family: 'Lato', sans-serif;   --- Main  ---
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
font-family: 'Raleway', sans-serif;
*/

@media screen and (max-width: 750px){


  .NewuSerImgback {
    background-image: url("newUserbck.jpg");
    height: 190px;
    background-size: 100% 150%;
    overflow: inherit;

    /*background-repeat: no-repeat;*/

  }

  #loginBackground{
    background: url("http://i296.photobucket.com/albums/mm195/Zlerp/Screen%20Shot%202015-08-08%20at%205.08.40%20PM_zpsxrkm8uah.png") no-repeat center center fixed;
    background-size: 1300px 800px;

  }
  #loginBackgroundc{
    background: url("http://i296.photobucket.com/albums/mm195/Zlerp/Screen%20Shot%202015-08-09%20at%205.13.14%20AM_zpslajhgtoo.png") no-repeat center center fixed;
    background-size: 1300px 800px;
  }
  #loginBackgroundt{
    background: url("http://www.theqg.com/media/hdr-tailor-sewing2.jpg")no-repeat center center fixed;;
    background-size: 1300px 800px;
  }
  #email{
    width: 300px;
  }
  #password{
    width: 300px;
  }

  /*------- DASHBOARD ----------*/

#profImg {
  margin-top: 30px;
  height: 180px;
  width: 180px;

}

#profName{
  font-size: 3em;
  font-family: 'Pacifico', cursive;
}

.tableDash{
  font-size: .7em;
  margin: 0 auto;
  text-align: center;
  text-shadow: -1px 1px 10px black;
  opacity: .6;
  background-color: black;
}
.dataLogSend input{
  font-size: .7em;
  width: 40px;
}


  #loginFields{
  text-align: center;
  }

  .imgUser img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
  border: 3px solid white;

  }


  .Appoinlist {
    /*margin-top: 15px;*/
    border-top: 2px solid grey;
    border-left: 7px solid #A950A9;
    border-bottom: : 2px solid grey;
    text-align: left;
    padding-left: 15px;
    /*margin-bottom: -15;*/
  }
@media screen and (max-width: 750px){

  .btn, .btn-large {
    background-color: #A950A9;
  }
.Appoinlistb {
  border-top: 2px solid grey;
  /*margin-top: 15px;*/
}

  .NewuSerImgback {
    background-image: url("newUserbck.jpg");
    height: 190px;
    background-size: 100% 150%;

    /*background-repeat: no-repeat;*/

  }

  .NewuSerImgback p {
      text-shadow: -2px 4px 5px black;
  }
  .Hello p {
    font-size: 40px;

}

.NEwuserfromA{
  width: 50vw;
margin: 0 auto;
}

  .btnZ{
    width: 32.5%;
    font-size: .9em;
    height: 40px;
  }
.btnWrapper{
  width: 100%;

}
#userimg{
  padding-left: 10%;
}
  .tailorBtnS{
    width: 48%;
  }
  .signUpLinks{
    font-size: .8em;
  }

  input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    text-align: center;
  margin: 0 0 10px 0;
  font-size: 1em;
  border-bottom: 2px solid grey;
  height: 22px;
 }


    input#user_image {
    width: 80px;
    text-align: left;

}

.btn, .btn-large, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent
}
label.optional {
  display: none;
}

.btn:hover{
  background-color: #BB70BB;
}
/*.string.optional:hover{
  color: black
}*/

  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=time]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea.materialize-textarea{
  border-bottom: 2px solid #AA4CAA !important;
  box-shadow: 0 1px 0 0 #AA4CAA !important;
}

input.btn {
  margin-top: 30px;
}
/*input[type=all]:focus{
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}*/




}
