
/*font-family: 'Lato', sans-serif;   --- Main  ---
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
font-family: 'Raleway', sans-serif;
*/

@media screen and (max-width: 750px){

  #loginBackground{
    background: url("http://i296.photobucket.com/albums/mm195/Zlerp/Screen%20Shot%202015-08-08%20at%205.08.40%20PM_zpsxrkm8uah.png") no-repeat center center fixed;
    background-size: 1300px 800px;

  }
  #loginBackgroundc{
    background: url("http://i296.photobucket.com/albums/mm195/Zlerp/Screen%20Shot%202015-08-09%20at%205.13.14%20AM_zpslajhgtoo.png") no-repeat center center fixed;
    background-size: 1300px 800px;
  }
  #loginBackgroundt{
    background: url("http://www.theqg.com/media/hdr-tailor-sewing2.jpg")no-repeat center center fixed;;
    background-size: 1300px 800px;
  }
  #email{
    width: 300px;
  }
  #password{
    width: 300px;
  }

    .signupLinks a {
      font-size: .8em;
  }


  /*------- DASHBOARD ----------*/

#profImg {
  margin-top: 30px;
  height: 180px;
  width: 180px;

}
#profName{
  font-size: 3em
}

##profName{
  font-size: 3em
}

.tableDash{
  font-size: .7em;
  margin: 0 auto;
  text-align: center;
  text-shadow: -1px 1px 10px black;
  opacity: .7;
  background-color: black;
}
.dataLogSend input{
  font-size: .7em;
  width: 40px;
}




  #loginFields{
  text-align: center;
  }
  #singupLinkHeader{

  }

  .imgUser img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
  border: 3px solid white;

  }

  .dBackground {
    background-image: url("pic.jpg");
    height: 180px;
    /*width: 100%;*/
  }

  .Hello {
    text-align: center;
    padding-top: 18%;
    font-family: 'Lobster',cursive;
    font-size: 30px;
    color: #EBEBEB;
  }

  .DashbContent {
    padding-top: 25%;
  }
    .editbutton {
    display: inline-block;
    position: relative;
    /*margin: 1.2em 0 1em 0;*/
    padding: 5px;
    background: #A950A9;
    border: none;
    text-decoration: none;
    /*font-weight: 700;*/
  }

   .editbutton a{
    color: white;
  }

  .NewAbutton a{
    color: grey;
  }
  /*.NewAbutton {
    margin-top: 15px;
    border-top: 2px solid grey;
    border-left: 7px solid #A950A9;*/

  }
  .Appoinlist {
    margin-top: 15px;
    border-top: 2px solid grey;
    border-left: 7px solid #A950A9;
    border-bottom: : 2px solid grey;
    text-align: left;
    padding-left: 15px;
    margin-bottom: -15;
  }


  .btn, .btn-large {
    background-color: #A950A9;
  }
.Appoinlistb {
  border-top: 2px solid grey;
  margin-top: 15px;
}

  .NewuSerImgback {
    background-image: url("newUserbck.jpg");
    height: 190px;
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/

  }
  .Hello p {
    font-size: 40px;
}


}
