width: 250px;
 height: 250px;
}
  .NewuSerImgback {
      background-image: url("newUserbck.jpg");
      height: 290px;
      background-size: 100% 150%;
      overflow-y: hidden;

      /*background-repeat: no-repeat;*/

    }

}

.field input{
  text-align: center;
}
h4  {
color: purple;
}
div .calendar {
padding: 20px;
line-height: 28px;
text-align: justify;
  position:absolute;
  position: absolute;
bottom: -10;
margin: 0;
width: 43em;
  height: px;
}
.weekday .arrow {
float: right;
}
@media .calendar (max-width: 500px) {
  div {
    margin: 20px 2px 0 12px;
@media (max-width: 500px) {
  div .calendar {
    margin: 20px 12px 0 12px;
}
  p  {
  p .calendar {
font-size: 20px;
line-height: 24px;
}
  small {
  small .calendar {
font-size: 16px;
}
}

.dBackground {
  background-image: url("pic.jpg");
  height: 180px;
  /*width: 100%;*/
}

.Hello {
  text-align: center;
  padding-top: 40px;
  font-family: 'Lobster',cursive;
  font-size: 30px;
  color: #EBEBEB;
  margin: 0
}

.DashbContent {
  padding-top: 25%;
}
  .editbutton {
  display: inline-block;
  position: relative;
  /*margin: 1.2em 0 1em 0;*/
  padding: 5px;
  background: #A950A9;
  border: none;
  text-decoration: none;
  /*font-weight: 700;*/
}
.loginFields input {
  color: #A950A9;

}
.input input {
    color: #A950A9;
}
 .editbutton a{
  color: white;
}

.NewAbutton a{
  color: grey;
}

.Appoinlist {
  margin-top: 15px;
  border-top: 2px solid grey;
  border-left: 7px solid #A950A9;
  border-bottom: : 2px solid grey;
  text-align: left;
  padding-left: 15px;
  margin-bottom: -15;
}
.btn, .btn-large {
  background-color: #A950A9;
}
.Appoinlistb {
border-top: 2px solid grey;
margin-top: 15px;



.NewuSerImgback p {
    text-shadow: -2px 4px 5px black;
}
.Hello p {
  font-size: 40px;

}

.NEwuserfromA{
width: 50vw;
margin: 0 auto;
}
@media screen and (max-width: 750px){


.btnZ{
  width: 32.5%;
  font-size: .9em;
  height: 40px;
}
.btnWrapper{
width: 100%;

}
#userimg{
padding-left: 10%;
}
.tailorBtnS{
  width: 48%;
}
.signUpLinks{
  font-size: .8em;
}

.input input{
  text-align: center;
}
}

form p {
  text-align: center;
}
