<%
  today = DateTime.current
  avails = @availabilities.to_a
  # assigns routing to dashboard through availability controller.
  @availability ||= Availability.new
%>
<% if @availability.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

    <ul>
      <% @availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <div id='calendar'></div>
      <% end %>
    </ul>
  </div>
<% end %>
