
<% Tailor.all.map(&:availabilities).flatten.each do |availability| %>
  <li><button type="button"><%= link_to availability.start.strftime("%I:00 %p"), new_appointment_path %></button> </li>
<% end %>
