<h1>Editing Availability</h1>

<%= render 'form' %>

<%= link_to 'Show', @availability %> |
<div class="canceled">
  <%= link_to content_tag(:i, nil, :class => "fa fa-chevron-left fa-3x"), companies_path %>
</div>
