
<% @days.each do |day| %>
  <div class="day">


    <% @tailors.each do |tailor| %>
      <ul>
        <% Availability.where(tailor: tailor, start: day.midnight..(day.midnight + 1.day)).where("start > ?", Date.today).where(:requested => nil).each do |availability| %>
        <li><button type="button"><%= link_to availability.start.strftime("%I:00 %p"), new_appointment_path(:start => availability.start, :tailor_id => tailor.id, :availability_id => availability.id) %></button> </li>
        <% end %>
      </ul>
    <% end %>
</div>
<% end %>
