<p id="notice"><%= notice %></p>

<p>
  <strong>Tailor:</strong>
  <%= @availability.tailor_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @availability.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @availability.end %>
</p>
<div id='calendar'></div>
